@*
    @using : namespace de la classe Pokemon

    @model : 
    Vue fortement typée : on lui indique le type de données du modèle
*@

@using Fr.EQL.AI109.TPPokemon.Model

@model List<Pokemon>

<h1>Mes Pokemons</h1>

<ul>
    @foreach(Pokemon p in Model)
     {
     <li>@p.Nom.ToUpper() - @p.DateCreation.ToString("dd MMMM yyyy")</li>           
     }
</ul>