@*
    @using : namespace de la classe Pokemon

    @model : 
    Vue fortement typée : on lui indique le type de données du modèle
*@

@using Fr.EQL.AI109.TPPokemon.Model

@model List<Pokemon>

@{ 
    int nbPokemons = Model.Count;
    int nbRestants = 100 - nbPokemons;
}

<h1>Mes Pokemons (@nbPokemons)</h1>
<h2>Il reste @nbRestants emplacements disponibles</h2>

<ul>
    @foreach(Pokemon p in Model)
     {
     <li>@p.Nom.ToUpper() - @p.DateCreation.ToString("dd MMMM yyyy")</li>
     }
</ul>